@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  @apply bg-black text-green-400 font-pixel;
}

.blinking-cursor {
  @apply inline-block bg-green-400 w-3 h-5 ml-1 animate-cursor-blink;
}
